---
title: "Guitar Coaches"
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <%# <title>Guitar Coaches</title> %>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <%= favicon_tag 'images/favicon.ico' %>
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="javascripts/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="javascripts/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="javascripts/vendor/aos/aos.css" rel="stylesheet">
    <link href="javascripts/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="javascripts/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <!-- <link href="stylesheets/site.css" rel="stylesheet"> -->

    <!-- =======================================================
    * Template Name: Personal
    * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
    * Updated: Aug 07 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <title><%= current_page.data.title || "Brendon McDonnell" %></title>
    <%= stylesheet_link_tag "site" %>
    
  </head>
  <body class="<%= page_classes %>-page">

    <%= partial "partials/header" %>
    <%= yield %>
    <%= partial "partials/footer" %>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="javascripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="javascripts/vendor/php-email-form/validate.js"></script>
    <script src="javascripts/vendor/aos/aos.js"></script>
    <script src="javascripts/vendor/typed.js/typed.umd.js"></script>
    <script src="javascripts/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="javascripts/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="javascripts/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="javascripts/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="javascripts/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="javascripts/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- Main JS File -->
    <%= javascript_include_tag "main" %>
    <%# <script src="javascripts/main.js"></script> %>
  </body>
</html>
